{% extends 'bootstrap/base.html' %}
<!-- Navbar block  --> 

{% block navbar %}
<header>
  {% include 'navbar.html' %}
</header>

{% endblock %}



{%block styles %}
  {{super()}}
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ranga&display=swap" rel="stylesheet">

  {{ simplemde.css}}
  {{ simplemde.js }}

{% endblock %}
{% block content %}
{% endblock %}